[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
loguru = "*"
pydantic = "*"
typer = "*"

[dev-packages]
black = "*"
boto3-stubs = "*"
flake8 = "*"
isort = "*"
moto = {extras = ["s3"], version = "*"}
pyright = "*"
pytest = "*"
syrupy = "*"

[requires]
python_version = "3.11"
